@media screen and (max-width: 700px){
 .social-links{
    display: none;
 }
 .nav-links{
    position: absolute;
    top: 100px;
    background: lightblue;
    padding: 30px;
    /* width: 50%; */
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    /* display: none; */

 }
 #menu{
    display: block;
 }

}
    
